$font: Roboto;

.Main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  .operatordiv {
    display: flex;
    flex-direction: column;
    button {
      color: black;
      background-color: darkcyan;
      border: 2px solid black;
      &:hover {
        cursor: pointer;
        background-color: cyan;
      }
    }
  }
  h1 {
    font-family: $font;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    text-align: center;
    color: #000000;
    margin: 10px 0 0 0;
    text-shadow: 2px 0px 0px #285ff5;
    flex-grow: 1;
  }
  .selection {
    flex-grow: 5;
  }
  .startbutton {
    font-size: 1.5rem;
    font-family: $font;
  }
}
