$font: Roboto;

html,
body {
  margin: 0;
  background-color: #889fa4;
  height: 100%;
}
:global(#root) {
  height: 100%;
}
.Main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 50%;
  .operatordiv {
    display: flex;
    flex-direction: column;
    button {
      background-color: darkcyan;
      border: 2px black solid;
      &:hover {
        background-color: cyan;
      }
    }
  }
  h1 {
    font-family: $font;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    text-align: center;
    color: #000000;
    text-shadow: 2px 0px 0px #285ff5;
  }
  .startbutton {
    font-size: 1.5rem;
    font-family: $font;
  }
}
